version: "3.9"

services:
  fastapi:
    build: .
    container_name: design-pathway-backend
    ports:
      - "8000:8000"
    networks:
      - design-pathway-net

networks:
  design-pathway-net:
    external: true